.first {
    font-family: 'Courier New', Courier, monospace;
}
.second {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.third {
    font-family:'Times New Roman', Times, serif
}

.fourth {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.fifth {
    font-family:Georgia, 'Times New Roman', Times, serif
}