#first {
    background-color: darkgreen;
}
#second {
    color: darkgreen;
}

#third {
    background-color: rgb(0, 48, 100);
}

#fourth {
    color: rgb(100, 0, 98);
}

#fifth {
    background-color: rgb(0, 48, 100);
}