.first {
    background-color: blueviolet;
}
.second {
    color: rgb(43, 226, 205);
}

.third {
    color: rgb(171, 226, 43);
}

.fourth {
    background-color: blueviolet;
}

.fifth {
    color: chocolate;
}