.first {
    background-image:url(./images/1.jpg);
    color: aliceblue;
  }
  .second {
    background-image:url(./images/2.jpg);
    color: aliceblue;
  }
  
  .third {
    background-image:url(./images/3.jpg);
    color: rgb(126, 22, 164);
  }
  
  .fourth {
    background-image:url(./images/2.jpg);
    color: rgb(131, 164, 22);
  }
  
  .fifth {
    background-image:url(./images/1.jpg);
    color: rgb(22, 164, 74);
  }

  h1 {
    background-color: antiquewhite;
  }