.first {
    color: aquamarine;
  }
  .second {
   color: rgb(200, 255, 127);
  }
  
  .third {
    color: rgb(255, 178, 127);
  }
  
  .fourth {
    color: rgb(127, 255, 176);
  }
  
  .fifth {
    color: rgb(172, 127, 255);
  }

  h1 {
    color: rgb(31, 29, 27);
  }